.jks {
    .product_num3,
    .product_num4,
    .product_num5,
    .row_prod_izb,
    .single_prod {
        position: relative;
    }

    .single_prod {
        float: left;
        width: 180px;
        z-index: 1000;
        top: 80px
    }

    .single_prod:hover {
        z-index: 1010
    }

    .single_prod img {
        max-width: 100%;
        height: auto;
        width: auto
    }

    .product_num1 {
        clear: both;
        width: 173px;
        top: 77px
    }

    .sekc2 {
        padding-top: 160px;
        margin-top: 0;
        clear: both
    }

    .product_num5 {
        float: right;
        top: 37px;
        width: 300px
    }

    .product_num3 {
        width: 295px;
        top: 15px;
        left: -11px
    }

    .product_num4 {
        width: 190px;
        left: 102px;
        top: 15px
    }

    .product_num6 {
        clear: both;
        float: left;
        margin-top: -52px;
        width: 176px
    }

    .product_num7, .product_num9 {
        width: 166px;
        margin-left: 0;
        margin-top: -52px
    }

    .product_num10 {
        margin-top: -52px;
        width: 165px;
        margin-left: 0
    }

    .product_num11 {
        margin-top: -52px;
        width: 166px;
        margin-left: 0
    }

    .product_num8 {
        margin-top: -52px;
        width: 279px;
        margin-left: -75px;
        float: right
    }

    .row_prod_izb {
        width: 1060px;
        margin: auto;
    }

    .not_hov_img {
        opacity: .7
    }

    .not_hov_img img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%)
    }

    .hov_img img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0)
    }

    .hov_img {
        opacity: 1
    }

    .sale_appart {
        position: absolute;
        top: 50%;
        margin-top: -23px;
        margin-left: -50px;
        left: 50%
    }

    .sale_appart img {
        width: 100px
    }

    .browse-view {
        margin-top: 40px
    }

    .tov_izb_info {
        opacity: 0;
        background-color: #fff;
        position: absolute;
        z-index: 100;
        padding: 10px;
        width: 180px;
        top: 20px;
        right: -100px;
        box-shadow: 0 0 3px #000;
        color: #000
    }

    .product_num1 .tov_izb_info strong {
        display: block;
        font-size: 16px;
        border-bottom: 1px dashed #000;
        padding-bottom: 2px;
        margin-bottom: 2px;
        color: #000
    }

    .vm-details-button, .vm3pr-0 {
        display: none
    }

    .info_info {
        font-style: italic;
        font-size: 12px;
        margin-top: 7px;
        color: #000
    }

    .hov_img div.tov_izb_info,
    .not_hov_img,
    .single_prod a {
        transition: all .5s ease .1s
    }

    .hov_img div.tov_izb_info {
        opacity: 1
    }

    .product_num2 {
        width: 272px;
        margin-top: 2px
    }

    .product_num12 {
        width: 312px;
        margin-left: -130px;
        margin-top: -32px
    }

    .product_num13 {
        width: 301px;
        margin-top: -32px;
        float: right;
        margin-right: 140px
    }

    .product_num14 {
        clear: both;
        float: left;
        margin-left: 270px;
        margin-top: -355px;
        width: 262px
    }

    .product_num15 {
        margin-left: 529px;
        margin-top: -355px;
        width: 259px
    }

    .product_num16 {
        float: right;
        margin-top: -723px;
        width: 272px
    }

    .product_num17 {
        float: right;
        width: 720px;
        margin-right: 47px;
        position: relative;
        top: 18px
    }

    .ne_akt_obl, .product_num18, .product_num19 {
        position: absolute
    }

    .product_num18 {
        right: 47px;
        width: 385px;
        top: 238px
    }

    .product_num19 {
        right: 23px;
        width: 409px;
        top: 522px
    }

    .product_num20 {
        clear: both;
        float: left;
        width: 310px;
        margin-top: -85px;
        margin-left: 4px
    }

    .product_num21 {
        margin-top: 251px;
        margin-left: -139px;
        width: 274px
    }

    .product_num22 {
        width: 588px;
        margin-top: 251px;
        margin-left: 0
    }

    .product_num29 {
        width: 272px;
        margin-top: 2px
    }

    .product_num30 {
        width: 312px;
        margin-left: -130px;
        margin-top: -32px
    }

    .product_num31 {
        width: 301px;
        margin-top: -32px;
        float: right;
        margin-right: 140px
    }

    .product_num32 {
        clear: both;
        float: left;
        margin-left: 270px;
        margin-top: -355px;
        width: 262px
    }

    .product_num33 {
        margin-left: 529px;
        margin-top: -356px;
        width: 260px
    }

    .product_num34 {
        float: right;
        margin-top: -723px;
        width: 272px
    }

    .product_num45 {
        width: 272px;
        margin-top: 2px
    }

    .product_num46 {
        width: 312px;
        margin-left: -130px;
        margin-top: -32px
    }

    .product_num47 {
        width: 301px;
        margin-top: -32px;
        float: right;
        margin-right: 140px
    }

    .product_num48 {
        clear: both;
        float: left;
        margin-left: 270px;
        margin-top: -355px;
        width: 262px
    }

    .product_num49 {
        margin-left: 529px;
        margin-top: -355px;
        width: 259px
    }

    .product_num50 {
        float: right;
        margin-top: -723px;
        width: 272px
    }

    .product_num51 {
        width: 272px;
        margin-top: 2px
    }

    .product_num52 {
        width: 312px;
        margin-left: -130px;
        margin-top: -32px
    }

    .product_num53 {
        width: 301px;
        margin-top: -32px;
        float: right;
        margin-right: 140px
    }

    .product_num54 {
        clear: both;
        float: left;
        margin-left: 270px;
        margin-top: -355px;
        width: 262px
    }

    .product_num55 {
        margin-left: 529px;
        margin-top: -355px;
        width: 259px
    }

    .product_num56 {
        float: right;
        margin-top: -723px;
        width: 272px
    }

    .product_num67 {
        width: 272px;
        margin-top: 2px
    }

    .product_num68 {
        width: 312px;
        margin-left: -130px;
        margin-top: -32px
    }

    .product_num69 {
        width: 301px;
        margin-top: -32px;
        float: right;
        margin-right: 140px
    }

    .product_num70 {
        clear: both;
        float: left;
        margin-left: 270px;
        margin-top: -355px;
        width: 262px
    }

    .product_num71 {
        margin-left: 529px;
        margin-top: -355px;
        width: 259px
    }

    .product_num72 {
        float: right;
        margin-top: -723px;
        width: 272px
    }

    .product_num80 {
        float: right;
        width: 100%;
        margin-top: 20px;
        display: none;
    }

    .product_num81 {
        float: right;
        width: 100%;
        margin-top: 20px;
        display: none;
    }

    .product_num82 {
        float: right;
        width: 100%;
        margin-top: 20px;
    }

    .product_num83 {
        float: right;
        width: 100%;
        margin-top: 20px;
    }

    .product_num84 {
        float: left;
        width: 189px;
        margin-top: -3px;
    }

    .product_num85 {
        float: left;
        width: 284px;
        margin-top: -62px;
        margin-left: -2px;
    }

    .product_num86 {
        float: left;
        width: 292px;
        margin-top: -62px;
        margin-left: 117px;
    }

    .product_num87 {
        float: left;
        width: 188px;
        margin-top: -39px;
        margin-left: -8px;
    }

    .product_num88 {
        float: right;
        width: 189px;
        margin-top: -7px;
    }

    .product_num89 {
        float: right;
        width: 169px;
        margin-top: -7px;
    }

    .product_num90 {
        float: right;
        width: 172px;
        margin-top: -7px;
    }

    .product_num91 {
        float: right;
        width: 173px;
        margin-top: -7px;
    }

    .product_num92 {
        float: right;
        width: 169px;
        margin-top: -7px;
    }

    .product_num93 {
        float: right;
        width: 187px;
        margin-top: -7px;
    }

    .product_num95 {
        float: left;
        width: 216px;
        margin-top: 29px;
    }

    .product_num96 {
        float: left;
        width: 273px;
        margin-top: -43px;
        margin-left: -106px;
    }

    .product_num97 {
        float: left;
        width: 221px;
        margin-top: -43px;
        margin-left: 227px;
    }

    .product_num98 {
        float: left;
        width: 297px;
        margin-top: -19px;
        margin-left: -69px;
    }

    .product_num99 {
        float: right;
        width: 244px;
        margin-top: -8px;
    }

    .product_num100 {
        float: right;
        width: 200px;
        margin-top: -8px;
    }

    .product_num101 {
        float: right;
        width: 200px;
        margin-top: -8px;
    }

    .product_num102 {
        float: right;
        width: 200px;
        margin-top: -24px;
    }

    .product_num103 {
        float: left;
        width: 226px;
        margin-top: 52px;
    }

    .product_num104 {
        float: left;
        width: 222px;
        margin-top: 29px;
    }

    .product_num105 {
        float: left;
        width: 222px;
        margin-top: 29px;
        margin-left: 161px;
    }

    .product_num106 {
        float: left;
        width: 298px;
        margin-top: 52px;
        margin-left: -69px;
    }

    .product_num107 {
        float: right;
        width: 244px;
        margin-top: -1px;
    }

    .product_num108 {
        float: right;
        width: 200px;
        margin-top: -1px;
    }

    .product_num109 {
        float: right;
        width: 202px;
        margin-top: -1px;
    }

    .product_num110 {
        float: right;
        width: 199px;
        margin-top: -6px;
    }

    .product_num111 {
        float: right;
        width: 215px;
        margin-top: -7px;
    }

    .product_num112 {
        float: left;
        width: 226px;
        margin-top: 52px;
        display: none;
    }

    .product_num113 {
        float: left;
        width: 226px;
        margin-top: 52px;
        display: none;
    }

    .product_num114 {
        float: left;
        width: 226px;
        margin-top: 52px;
        display: none;
    }

    .product_num115 {
        float: left;
        width: 226px;
        margin-top: 52px;
        display: none;
    }

    .product_num116 {
        float: left;
        width: 226px;
        margin-top: 52px;
        display: none;
    }

    .product_num117 {
        float: left;
        width: 226px;
        margin-top: 52px;
        display: none;
    }

    .product_num118 {
        float: left;
        width: 226px;
        margin-top: 52px;
        display: none;
    }

    .product_num119 {
        float: left;
        width: 226px;
        margin-top: 52px;
        display: none;
    }

    .product_num120 {
        float: left;
        width: 226px;
        margin-top: 52px;
        display: none;
    }

    a.ask-a-question {
        display: none !important;
    }

    .appart_sing {
        width: 33.3%;
        float: left
    }

    .appart_sing > .spacer {
        padding: 10px !important
    }

    .appart_sing img {
        max-width: 100%;
        max-height: 220px
    }

    .vm-product-media-container {
        min-height: 225px;
        padding: 10px;
        background-color: #fff;
        border-bottom: 0 !important
    }

    .appart_sing_bord {
        border: 3px solid #E0BA94;
        padding: 10px;
        background-color: #fff
    }

    .appart_sing_bord:hover {
        border: 3px solid #AA7846
    }

    .desc_prod_singl {
        padding-top: 15px;
        background-color: #fff
    }

    .desc_prod_singl h2 {
        text-transform: none;
        border-bottom: 1px dashed #b78e8e;
        padding-bottom: 5px;
        margin-bottom: 10px
    }

    .desc_prod_singl h2 a {
        text-decoration: none;
        color: #69625C;
        font-size: 20px
    }

    .desc_prod_singl h2 a:hover {
        text-decoration: underline
    }
}

.jks {

        .row_prod_izb {
            width: 730px;
            padding-bottom: 100px;
            margin-top: -65px;

            &.row_prod_126-13-2 {
                zoom: .76;
                top: -128px;
            }

            &.row_prod_126-16-1 {
                zoom: .76;
                top: 50px;
            }
        }

        .vm-product-media-container {
            min-height: 170px
        }

        .appart_sing img {
            max-height: 160px
        }

        .product_num1 {
            width: 119px;
            top: 57px
        }

        .product_num3 {
            width: 204px;
            top: 13px;
            left: -8px
        }

        .catidw10 {
            background-image: url('/sofievska/wp-content/uploads/apartments/126_15_18.png');
            background-repeat: no-repeat;
            width: 470px;
            height: 500px;
            top: 56px;
            background-size: 100%;
            left: 96px
        }

        .catidw24 {
            background-image: url('/sofievska/wp-content/uploads/apartments/126-17-plan.png');
            width: 532px;
            top: 142px;
            left: 98px
        }

        .nf-block {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        .nf-block_element {
            max-width: 33%;
            min-width: 300px;
        }

        .product_num4 {
            width: 132px;
            left: 71px;
            top: 13px
        }

        .product_num5 {
            width: 204px;
            top: 31px;
            margin-right: 2px
        }

        .product_num6 {
            width: 121px;
            margin-top: -56px
        }

        .product_num7,
        .product_num9 {
            width: 114px;
            margin-top: -56px
        }

        .product_num9 {
            margin-left: 0
        }

        .product_num10 {
            width: 113px;
            margin-top: -56px
        }

        .product_num11 {
            width: 114px;
            margin-left: 0;
            margin-top: -56px
        }

        .product_num8 {
            width: 191px;
            margin-right: 2px;
            margin-top: -56px
        }

        .product_num13,
        .product_num31,
        .product_num47,
        .product_num53,
        .product_num69 {
            margin-right: 97px;
            float: right
        }

        .product_num2 {
            width: 186px;
            margin-top: 0
        }

        .product_num12 {
            width: 215px;
            margin-left: -89px;
            margin-top: -24px
        }

        .product_num13 {
            width: 207px;
            margin-top: -25px
        }

        .product_num14 {
            margin-left: 186px;
            margin-top: -244px;
            width: 179px
        }

        .product_num15 {
            margin-left: 365px;
            margin-top: -244px;
            width: 178px
        }

        .product_num16 {
            margin-top: -497px;
            width: 187px
        }

        .product_num29 {
            width: 186px;
            margin-top: 0
        }

        .product_num30 {
            width: 215px;
            margin-left: -89px;
            margin-top: -24px
        }

        .product_num31 {
            width: 207px;
            margin-top: -25px
        }

        .product_num32 {
            margin-left: 186px;
            margin-top: -244px;
            width: 179px
        }

        .product_num33 {
            margin-left: 365px;
            margin-top: -244px;
            width: 178px
        }

        .product_num34 {
            margin-top: -497px;
            width: 187px
        }

        .product_num45 {
            width: 186px;
            margin-top: 0
        }

        .product_num46 {
            width: 215px;
            margin-left: -89px;
            margin-top: -24px
        }

        .product_num47 {
            width: 207px;
            margin-top: -25px
        }

        .product_num48 {
            margin-left: 186px;
            margin-top: -244px;
            width: 179px
        }

        .product_num49 {
            margin-left: 365px;
            margin-top: -244px;
            width: 178px
        }

        .product_num50 {
            margin-top: -497px;
            width: 187px
        }

        .product_num51 {
            width: 186px;
            margin-top: 0
        }

        .product_num52 {
            width: 215px;
            margin-left: -89px;
            margin-top: -24px
        }

        .product_num53 {
            width: 207px;
            margin-top: -25px
        }

        .product_num54 {
            margin-left: 186px;
            margin-top: -244px;
            width: 179px
        }

        .product_num55 {
            margin-left: 365px;
            margin-top: -244px;
            width: 178px
        }

        .product_num56 {
            margin-top: -497px;
            width: 187px
        }

        .product_num67 {
            width: 186px;
            margin-top: 0
        }

        .product_num68 {
            width: 215px;
            margin-left: -89px;
            margin-top: -24px
        }

        .product_num69 {
            width: 207px;
            margin-top: -25px
        }

        .product_num70 {
            margin-left: 186px;
            margin-top: -244px;
            width: 179px
        }

        .product_num71 {
            margin-left: 365px;
            margin-top: -244px;
            width: 178px
        }

        .product_num72 {
            margin-top: -497px;
            width: 187px
        }

        .product_num84 {
            float: left;
            width: 130px;
            margin-top: -3px;
        }

        .product_num85 {
            float: left;
            width: 196px;
            margin-top: -43px;
            margin-left: -1px;
        }

        .product_num86 {
            float: left;
            width: 201px;
            margin-top: -44px;
            margin-left: 80px;
        }

        .product_num87 {
            float: left;
            width: 130px;
            margin-top: -29px;
            margin-left: -6px;
        }

        .product_num88 {
            float: right;
            width: 130px;
            margin-top: -5px;
        }

        .product_num89 {
            float: right;
            width: 117px;
            margin-top: -5px;
        }

        .product_num90 {
            float: right;
            width: 118px;
            margin-top: -5px;
        }

        .product_num91 {
            float: right;
            width: 119px;
            margin-top: -5px;
        }

        .product_num92 {
            float: right;
            width: 117px;
            margin-top: -5px;
        }

        .product_num93 {
            float: right;
            width: 129px;
            margin-top: -5px;
        }

        .catidw11, .catidw14, .catidw18, .catidw19, .catidw9 {
            background-image: url('/sofievska/wp-content/uploads/apartments/planirovka_126_15_7.png');
            background-position: left top;
            background-repeat: no-repeat;
            background-size: 100%;
            vertical-align: baseline;
            width: 428px;
            height: 491px;
            top: 122px;
            left: 151px;
        }

        .catidw12, .catidw20 {
            background-image: url('/sofievska/wp-content/uploads/apartments/126_16_7.png');
            background-position: left top;
            background-repeat: no-repeat;
            background-size: 100%;
            vertical-align: baseline;
            width: 229px;
            height: 500px;
            top: 201px;
            left: 203px
        }

        .product_num17 {
            float: right;
            width: 494px;
            margin-right: 33px;
            position: relative;
            top: -2px
        }

        .product_num18 {
            position: absolute;
            right: 33px;
            width: 264px;
            top: 105px
        }

        .product_num19 {
            position: absolute;
            right: 16px;
            width: 281px;
            top: 300px;
        }

        .product_num20 {
            clear: both;
            float: left;
            width: 212px;
            margin-top: -95px
        }

        .product_num21 {
            margin-top: 134px;
            margin-left: -95px;
            width: 189px
        }

        .product_num22 {
            width: 405px;
            margin-top: 134px;
            margin-left: 0
        }

        .product_num73 {
            float: right;
            width: 494px;
            margin-right: 33px;
            position: relative;
            top: -2px
        }

        .product_num74 {
            position: absolute;
            right: 33px;
            width: 264px;
            top: 105px
        }

        .product_num75 {
            position: absolute;
            right: 16px;
            width: 281px;
            top: 300px
        }

        .product_num76 {
            clear: both;
            float: left;
            width: 212px;
            margin-top: -95px
        }

        .product_num77 {
            margin-top: 134px;
            margin-left: -95px;
            width: 189px
        }

        .product_num78 {
            width: 405px;
            margin-top: 134px;
            margin-left: 0
        }

        .catidw15, .catidw21 {
            background-image: url('/sofievska/wp-content/uploads/apartments/plan_126_1_10.png');
            background-position: left top;
            background-repeat: no-repeat;
            background-size: 100%;
            vertical-align: baseline;
            width: 460px;
            height: 190px;
            top: 38px;
            left: 169px
        }

        .product_num23 {
            float: right;
            margin-top: 137px;
            width: 406px
        }

        .product_num35 {
            width: 206px;
            top: 12px
        }

        .product_num36 {
            width: 134px;
            top: -2px
        }

        .product_num37 {
            width: 206px;
            top: -2px;
            left: 70px
        }

        .product_num38 {
            float: right;
            width: 119px;
            margin-right: 1px;
            top: 38px
        }

        .product_num39 {
            float: left;
            clear: both;
            width: 191px;
            margin-top: -76px
        }

        .product_num40 {
            width: 117px;
            margin-left: -42px;
            margin-top: -77px
        }

        .product_num41 {
            width: 113px;
            margin-top: -77px
        }

        .product_num42 {
            width: 114px;
            margin-top: -77px
        }

        .product_num43 {
            width: 113px;
            margin-top: -77px
        }

        .product_num44 {
            width: 123px;
            margin-right: 1px;
            margin-top: -77px
        }

        .product_num57 {
            width: 206px;
            top: 12px
        }

        .product_num58 {
            width: 134px;
            top: -2px
        }

        .product_num59 {
            width: 206px;
            top: -2px;
            left: 70px
        }

        .product_num60 {
            float: right;
            width: 119px;
            margin-right: 1px;
            top: 38px
        }

        .product_num61 {
            width: 191px;
            margin-top: -76px;
            clear: both;
        }

        .product_num62 {
            width: 117px;
            margin-left: -42px;
            margin-top: -77px
        }

        .product_num63 {
            width: 113px;
            margin-top: -77px
        }

        .product_num64 {
            width: 114px;
            margin-top: -77px
        }

        .product_num65 {
            width: 113px;
            margin-top: -77px
        }

        .product_num66 {
            width: 123px;
            margin-right: 1px;
            margin-top: -77px
        }

        .catnum4 {
            bottom: 30px;
            width: 104px;
            left: 75px
        }

        .catnum2 {
            bottom: 46px;
            width: 168px;
            left: 153px
        }

        .catnum17 {
            bottom: 101px;
            width: 123px;
            left: 334px;
        }

        .catnum16 {
            bottom: 130px;
            width: 84px;
            left: 410px;
        }

        .catnum13 {
            bottom: 206px;
            width: 70px;
            right: 32px
        }

        .catnum22 {
            bottom: 104px;
            width: 67px;
            right: 0;
            left: 62px;
        }

        .catnum23 {
            bottom: 160px;
            width: 74px;
            right: 0;
            left: 236px;
        }

        .catnum27 {
            bottom: 133px;
            width: 61px;
            left: 45px;
        }

        .catnum28 {
            bottom: 148px;
            width: 133px;
            right: 0;
            left: 88px;
        }

        .catnum29 {
            bottom: 188px;
            width: 64px;
            right: 0;
            left: 375px;
        }

        .catnum30 {
            bottom: 222px;
            width: 60px;
            right: 0;
            left: 698px;
        }

        .catnum13 .mark_info {
            left: -60px
        }
    }
